<footer>
    <div class="card-group text-white">
        <div class=" container">
            <div class=" row">
                <div class=" col-md-4">
                    <div class="inner text-center">
                        <h3>{{textH3}}</h3>
                        <p>{{textP}}</p>
                        <p>{{valueText}}</p> 
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="inner text-center">
                        <h3> {{valueH3}}</h3>
                        <div class="icons ">
                            <div class="icon">
                                <i class="fa-brands fa-facebook fs-6 "></i>
                            </div>
                            <div class="icon">
                                <i class="fa-brands fa-twitter fs-6 "></i>
                            </div>
                            <div class="icon">
                                <i class="fa-brands fa-linkedin-in fs-6"></i>
                            </div>
                           <div class="icon">
                            <i class="fa-solid fa-globe fs-6"></i>
                           </div>
                           
                            
                        </div>
                    </div>
                   
                </div>
                <div class=" col-md-4">
                 <div class="inner text-center">
                <h3>{{textItem}}</h3>
                <p>{{valueP}}</p>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

<div class=" text-center next-footer">
    <p>{{textNext}}</p>
</div>
</footer>




