<div class="about">
   <div class=" container">
    <div class="title text-center text-white">
        <h2 class=" text-uppercase fw-bold">{{titleText}}</h2>
        <div class="icons d-flex justify-content-center">
            <div class=" after-line"></div>
            <i class="fa-solid fa-star mx-4"></i>
            <div class=" before-line"></div>
        </div>

    </div>
    <div class="paragragh d-flex justify-content-between align-items-center text-white ">
        <p class="p-3">{{textValue}}</p>
        <p class="p-3">{{text}}</p>

    </div>

   </div>

</div>
