<nav class="navbar navbar-expand-lg bg-dark position-fixed z-3 w-100">
    <div class="container">
      <a class="navbar-brand text-uppercase fs-3 fw-bolder text-white" routerLink="home">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item m-3">
            <a class="nav-link fw-bolder text-white  text-uppercase"  routerLink="/about" routerLinkActive=" bg-success rounded" >about</a>
          </li>
          <li class="nav-item m-3">
            <a class="nav-link fw-bolder text-white text-uppercase"  routerLink="/portfolio" routerLinkActive="bg-success rounded">portfolio</a>
          </li>
          <li class="nav-item m-3">
            <a class="nav-link fw-bolder text-white text-uppercase" routerLink="/contact" routerLinkActive="bg-success rounded" >contact</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>