<div>
    <div class="contact">
        <div class="title text-center">
            <h2 class=" text-uppercase fw-bold fs-1">{{textPort}}</h2>
            <div class="icons d-flex justify-content-center">
                <div class=" after-line"></div>
                <i class="fa-solid fa-star mx-4"></i>
                <div class=" before-line"></div>
            </div>
        </div>
        <div class=" mx-auto w-50 form-g">
            <div class="mb-4 form-floating">
                <input type="text" class=" form-control p-2  border-0 border-bottom" id="exampleFormControlInput1" placeholder="UserName">
                <label for="exampleFormControlInput1" class="form-label labinput">User Name :</label>
              </div>
              <div class="mb-4 form-floating">
                <input type="text" class="form-control p-2  border-0 border-bottom" id="exampleFormInput1"  placeholder="UserAge">
                <label for="exampleFormInput1"  class="form-label labinput ">User Age :</label>
              </div>
              <div class="mb-4 form-floating">
                <input type="email" class="form-control p-2  border-0 border-bottom" id="exampleFormControl"  placeholder="UserEmail">
                <label for="exampleFormControl"  class="form-label labinput ">UserEmail :</label>
              </div>
              <div class="mb-4 form-floating">
                <input type="password" class="form-control p-2  border-0 border-bottom" id="exampleControlInput1"  placeholder="UserPassword">
                <label for="exampleControlInput1"  class="form-label labinput ">UserPassword :</label>
              </div>
              <button type="button" class="btn bform">send Massage</button>
        </div> 
    </div>

  </div>
