<section class="home">
    <div class=" container">
        <div class="title text-center text-white">
            <img [src]=" imgSrc " class=" w-100" alt="">
            <h2 class=" text-uppercase fw-bold">{{framWork}} </h2>
            <div class="icons d-flex justify-content-center">
                <div class=" after-line"></div>
                <i class="fa-solid fa-star mx-3"></i>
                <div class=" before-line"></div>
            </div>
            <p class=" m-0 ">{{paragraph}}</p>
        </div> 
</div>
</section>
